* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
}

/*en tete*/
header{
    background-color: #303c54;
    margin: 0;
}
.en-tete{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
.gauche{
    display: inline-block;
    width: 30%;
}
.logo{
    text-align: left;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 50;
}
header a {
    float: left;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}
.droite{
    display: inline-block;
    width: 69%;
}
.droite h3{
    text-align: right;
    padding-bottom: 10px;
    color: #446c6e;
}
.droite nav{
    text-align: right;
}
.droite nav li{
    display: inline-block;
}
/*en tete*/

/*haut du corps*/
.haut{
    text-align: center;
    background-color: #303c54;
    padding: 34px 0px;
}
.inscription{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.haut h2{
    color: #446c6e;
}
.haut p{
    color: white;
    font-size: 21px;
    line-height: 2;
}
.haut a:link, .haut a:visited{
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.haut a:hover, .haut a:active{
    background-color: gainsboro;
    color: white;
}
/*haut du corps*/ 

/*bas du corps*/
.body{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 60px auto;
    padding: 4px 0px;
}
.body h5{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 15px;
}

.body a{
    text-decoration: none;
    color: black;
}
.lien{
    width: 300px;
}

img{
    width: 300px;
    border-radius: 5%;
}

.body h3{
    padding: 17px 0px;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 22px;
}

/*bas du corps*/

/*pied de page*/
footer{
    background-color: #303c54;
    padding-bottom: 0px;
    padding-top: 15px;
}
.pied{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}
small{
    display: inline-block;
    width: 30%;
    color: #446c6e;
    font-size: 16px;
}
footer nav{
    display: inline-block;
    text-align: right;
    width: 69%;
}
footer nav li{
    display: inline-block;
}
footer nav a{
    color: white;
    text-decoration: none;
    padding-left: 12px;
}
/*pied de page*/